<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, {:controller => :game_view, :action => :show, :eventid => event.id} %></td>
    <td><%=h TweetCategory.find_by_id(event.category_id).category %></td>
    <td><%=h event.start_time %></td>
    <td><%=h event.end_time %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>