<p>
  <b>Event Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Categories:</b>
  <%=h concat_categories(@event.tweet_categories) %>
</p>

<p>
  <b>Start time:</b>
  <%=h @event.start_time.strftime("%b %d, %Y  %k:%M %Z") %>
</p>

<p>
  <b>End time:</b>
  <%=h @event.end_time.strftime("%b %d, %Y  %k:%M %Z") %>
</p>

<% if current_user and current_user.admin? -%>
	<%= link_to 'Edit', edit_event_path(@event) %>
<% end -%>