<h2>Events in Progress</h2>

<script>
	function refreshRecorders() {
		document.location.reload();
	}
	
	function initRefresh() {
		setInterval(refreshRecorders, 30000);
	}
	
	$(initRefresh);
</script>

<% if @recorders.length > 0 -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>

<% @recorders.each do |recorder| %>
  <tr>
    <td style="vertical-align: middle;"><%= link_to recorder.category, :controller => "game_view", :action => "realtime", :categories => recorder.category %></td>
    <td style="vertical-align: middle;"><%= recorder.status %></td>
  </tr>
<% end %>
</table>
<% else -%>
<p>
	<i>No recorders currently running.</i>
</p>
<% end -%>

<h2>Simultaneous Group Game Views</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Group</th>
      <th>Teams</th>
    </tr>
  </thead>
  <tr>
	<td><a href="http://crowdreplay.com/game_view/realtime?categories=France,Ecuador,Switzerland,Honduras">Group E</a></td>
	<td>France vs. Ecuador, Switzerland vs. Honduras</td>
  </tr>
</table>

<h2>Previously Recorded Events</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
	  <% if current_user and current_user.admin? -%>
	    <th></th>
	  <% end -%>
    </tr>
  </thead>

<% @events.each do |event| %>
  <tr>
    <td style="vertical-align: middle;"><%= link_to event.name, {:controller => :game_view, :action => :show, :categories => event.category.category, :starttime => event.start_time, :endtime => event.end_time} %></td>
    <td style="vertical-align: middle;"><%=h event.start_time.strftime("%b %d, %Y  %k:%M %Z") %></td>
    <td style="vertical-align: middle;"><%=h event.end_time.strftime("%b %d, %Y  %k:%M %Z") %></td>
	<% if current_user and current_user.admin? -%>
	  <td class="text-right">
	    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_event_path(event), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    events_path(event),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
      </td>
	<% end -%>
  </tr>
<% end %>
</table>
