<p>
	<%= link_to "Switch to Fixed View", :controller => "game_view", :action => "show", :categories => concat_categories(@categories) %>
</p>

<div class="row">
	<div class="col-md-12" id="graph"></div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8 text-center" id="graphinfo">
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h4>Change viewing parameters</h4>
		<%= form_tag(:controller => 'game_view', :action => :realtime) do -%>
		<div class="form-group"><label for="categories" class="control-label">Categories: </label> <%= text_field_tag 'categories', concat_categories(@categories), :class => "form-control" %></div>
		<div class="form-actions"><%= submit_tag 'Update', :class => 'btn btn-primary' %></div>
		<% end -%>
	</div>
	<div class="col-md-6">
		<% if current_user and current_user.admin? -%>
			<h4>Create an Event</h4>
			<%= form_for(@event) do |f| %>
			  <%= hidden_field_tag :categories, concat_categories(@categories) %>
			  <%= f.hidden_field :realtime %>

			  <div class="form-group"><%= f.label :name, :class => 'control-label' %> <%= f.text_field :name, :class => 'form-control' %></div>
			  <div class="form-group"><%= f.submit 'Create Event', :class => 'btn btn-primary' %></div>
			<% end -%>
		<% end -%>
	</div>
</div>

<div class="row">
	<div id="tweets"></div>
</div>

<script>
function showRealtimeGraph() {
	$("#graph svg g").empty();
	
	d3.csv("<%= url_for(:controller => 'game_view', :action => 'data', :categories => concat_categories(@categories)) %>", function(error,data) {

		showGraph(error,data);
		
		svg.on("click", function(e) {
			var x0 = x.invert(d3.mouse(this)[0]),
		        i = bisectDate(data, x0, 1),
		        d0 = data[i - 1],
		        d1 = data[i],
		        d = x0 - d0.date > d1.date - x0 ? d1 : d0;
		});
	});	
}

function startUpdatingGraph(){
	setInterval(showRealtimeGraph,60000);
	
	showRealtimeGraph();
}

$(startUpdatingGraph);
</script>
