<%= javascript_include_tag :defaults %>
<%=  javascript_include_tag "dygraph-combined.js" %>

<h1>Game View</h1>

<%= form_tag(:controller => 'game_view', :action => :show) do -%>
<p><label for="category">Category: </label> <%= text_field_tag 'category', @category.category %></p>
<p><label for="starttime">Start Time: </label> <%= text_field_tag 'starttime', @starttime %></p>
<p><label for="endtime">End Time: </label> <%= text_field_tag 'endtime', @endtime %></p>
<p><%= submit_tag 'Submit New Times' %></p>
<% end -%>

<div id="graphdiv" style="width:1000px; height:400px;"></div>

<script type="text/javascript">
function showGraph(){
	try{
			
   		g = new Dygraph(
       		document.getElementById("graphdiv"),
			'<%= url_for(:controller => 'game_view', :action => 'graphdata', :category => @category.category, :starttime => @starttime, :endtime => @endtime) %>',
			{
       	 		labels:["time","volume"],
		 		clickCallback: function(e, x, pts) {
		 			var date = new Date(x);
		
					$("#tweets").load('<%= url_for(:controller => 'game_view', :action => 'tweets_at_time', :category => @category.category) %>', 
									  'time=' + encodeURIComponent(date.toString()))
				}
       		}
   		);
		
	}
	catch(ex)
	{
		alert(ex.toSource());
	}
}

$(showGraph);
</script>

<div id="tweets"></div>

<%= form_for(@event) do |f| %>
  <%= f.hidden_field :category_id %>
  <%= f.hidden_field :start_time %>
  <%= f.hidden_field :end_time %>

  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.submit 'Create Event' %></p>
<% end -%>
