<%=  javascript_include_tag "dygraph-combined.js" %>

<p>
	<%= link_to "Switch to Real Time View", :controller => "game_view", :action => "realtime", :category => @category.category %> <!-- -
	<%= link_to "CSV", :controller => "game_view", :action => "tweets_at_time", :format => "csv", :category => @category.category, :time => @starttime, :endtime => @endtime %> -->
</p>

<p>
	<i>Start of Data:</i> <%= @category.tweets.minimum('created_at') %><br/>
	<i>End of Data:</i> <%= @category.tweets.maximum('created_at') %><br/>
	<i>Total # of Tweets:</i> <%= @category.tweets.count %><br/>
</p>

<div id="graphdiv" style="width:1000px; height:400px;"></div>

<table>
	<tr>
		<td valign="top">
			<h3>Change viewing parameters</h3>
<%= form_tag(:controller => 'game_view', :action => :show) do -%>
<p><label for="category">Category: </label> <%= text_field_tag 'category', @category.category %></p>
<p><label for="starttime">Start Time: </label> <%= text_field_tag 'starttime', @starttime %></p>
<p><label for="endtime">End Time: </label> <%= text_field_tag 'endtime', @endtime %></p>
<p><%= submit_tag 'Submit New Times' %></p>
<% end -%>
		</td>
		<td width="50"></td>
		<td valign="top">
			<h3>Create an event here</h3>
			<%= form_for(@event) do |f| %>
			  <%= f.hidden_field :category_id %>
			  <%= f.hidden_field :start_time %>
			  <%= f.hidden_field :end_time %>

			  <p><%= f.label :name %> <%= f.text_field :name %></p>
			  <p><%= f.submit 'Create Event' %></p>
			<% end -%>
		</td>
	</tr>
</table>

<script type="text/javascript">
function showGraph(){
	try{
			
   		g = new Dygraph(
       		document.getElementById("graphdiv"),
			'<%= url_for(:controller => 'game_view', :action => 'graphdata', :category => @category.category, :starttime => @starttime, :endtime => @endtime) %>',
			{
       	 		labels:["time","volume"],
		 		clickCallback: function(e, x, pts) {
		 			var date = new Date(x);
		
					$("#tweets").load('<%= url_for(:controller => 'game_view', :action => 'tweets_at_time', :category => @category.category) %>', 
									  'time=' + encodeURIComponent(date.toString()))
				}
       		}
   		);
		
	}
	catch(ex)
	{
		alert(ex.toSource());
	}
}

$(showGraph);
</script>

<div id="tweets"></div>
