<%= form_for(@recorder) do |f| %>
  <% if @recorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recorder.errors.count, "error") %> prohibited this recorder from being saved:</h2>

      <ul>
      <% @recorder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :oauth_access_token %>
  <%= f.hidden_field :oauth_access_secret %>
  <%= f.hidden_field :screen_name %>

  <div class="form-group">
    <%= f.label "Name", :class => 'control-label' %><br />
    <%= f.text_field :category, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :query, :class => 'control-label' %><br />
    <%= f.text_field :query, :class => 'form-control' %>
  </div>
  <div class="form-group">
	<% if @recorder.screen_name %>
		<b>Twitter Account</b>: <%= @recorder.screen_name %> &nbsp;&nbsp;
	<% end -%>
	<%= f.submit 'Select Twitter Account', :class => 'btn btn-mini btn-warning' %>
  </div>

  <% if @recorder.status %>
	<div class="form-group">
	  <b>Status:</b> <%= @recorder.status %>
	</div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-mini btn-primary' %>
  </div>

<% end %>
