<%= form_for(@recorder) do |f| %>
  <% if @recorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recorder.errors.count, "error") %> prohibited this recorder from being saved:</h2>

      <ul>
      <% @recorder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :oauth_access_token %>
  <%= f.hidden_field :oauth_access_secret %>
  <%= f.hidden_field :screen_name %>

  <div class="field">
    <%= f.label "Name" %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :query %><br />
    <%= f.text_field :query %>
  </div>
  <div class="field">
	<% if @recorder.screen_name %>
		<b>Twitter Account</b>: <%= @recorder.screen_name %><br/>
	<% end -%>
	<%= f.submit 'Select Twitter Account' %>
  </div>
  <% if @recorder.status %>
	<div>
	  <b>Status:</b> <%= @recorder.status %>
	</div>
  <% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
