<script>
	function refreshRecorders() {
		document.location.reload();
	}
	
	function initRefresh() {
		setInterval(refreshRecorders, 5000);
	}
	
	$(initRefresh);
</script>

<table>
  <tr>
    <th>Name</th>
    <th>Query</th>
    <th>Account</th>
    <th>Status</th>
	<th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recorders.each do |recorder| %>
  <tr>
    <td><%= recorder.category %></td>
    <td><%= recorder.query %></td>
    <td><%= recorder.screen_name %></td>
    <td><%= recorder.status %></td>
	<td>
		<% if recorder.running -%>
			<%= link_to 'View Data', :controller => "game_view", :action => "realtime", :category => recorder.category %>
		<% end -%>
	</td>
    <td><%= link_to 'Edit', edit_recorder_path(recorder) %></td>
	<td>
		<% if recorder.running or recorder.status == "Starting" -%>
			<%= link_to 'Stop', stop_recorder_path(recorder) %>
		<% else -%>
			<%= link_to 'Start', start_recorder_path(recorder) %>
		<% end -%>
	</td>
	<td>
		<%= link_to "CSV", :controller => "game_view", :action => "tweets_at_time", :format => "csv", :category => recorder.category %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recorder', new_recorder_path %>
