<!DOCTYPE html>
<html>
<head>
  <title>Crowdreplay</title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>CrowdReplay</h1>

<p>
	<%= link_to "Recorders", recorders_path %> - 
	<%= link_to "Events", events_path %>
</p>

<%= yield %>

</body>
</html>
